@import "../../breakpoints.scss";
.card {
  width: 68vw;
  height: 300px;
  position: relative;
  perspective: 1000px;
  cursor: grab;
  margin-bottom: 20px;
  &:first-of-type {
    margin-left: 80px;
  }
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}
.card .flipped {
  .card-inner {
    transform: rotateY(180deg);
  }
}
.cardFront,
.cardBack {
  transition: all 0.55s ease;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center; /* Hides the back of the card when flipped */

  &:before,
  &:after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;

    width: 60px;
    height: 100%;
    transform: skewX(-10deg);
  }
  &:before {
    left: -30px;
  }
  &:after {
    right: -32px;
  }
}

.card.flipped {
  .cardFront::before,
  .cardFront::after,
  .cardBack::before,
  .cardBack::after {
    transform: skewX(10deg);
  }
}

.cardFront {
  background-color: #171717;
  &:before,
  &:after {
    background: #171717;
  }
}
.cardBack {
  box-shadow: 7px 8px 0px 0 rgba(48, 186, 95, 1);
  background-color: white;
  transform: rotateY(-180deg);
  p {
    z-index: 1;
    font-size: 16px;
    line-height: 143%;
  }
  &:before,
  &:after {
    z-index: 0;
    background: var(--white);
  }
}

// When card hovers I want the front card to flip on the X axis to reveal the back card
.card.flipped {
  .cardFront {
    transform: rotateY(180deg);

    &:before,
    &:after {
      transform: skewX(10deg);
    }
  }
}

.card.flipped {
  .cardBack {
    transform: rotateY(0deg);

    &:after {
      box-shadow: 7px 8px 0px 0 rgba(48, 186, 95, 1);
      transform: skewX(10deg);
    }
    &:before,
    &:after {
      transform: skewX(10deg);
    }
  }
}

.cardAvatar {
  height: 100%;
  width: 100%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.cardNameTitle {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 20px;
}

@media screen and (min-width: $breakpoint-tablet) {
  .card {
    width: 300px;
  }
}
