---
import { type CardProps } from "./flipCard";
import FlipCard from "./flipCard";
import Brown from "../../assets/collegues/Brown.jpg";
import Buckley from "../../assets/collegues/Buckley.jpg";
import Eddie from "../../assets/collegues/eddie.jpg";
import Dunstall from "../../assets/collegues/jason.jpg";
import Underwood from "../../assets/collegues/Underwood.jpg";
import Lyon from "../../assets/collegues/Lyon.jpg";

const collegues: CardProps[] = [
  {
    avatar: Dunstall.src,
    name: "Jason Dunstall",
    role: "Fox Footy Expert",
    description:
      "Recently elevated to Legend status in the AFL Hall of Fame, Jason Dunstall’s on-field career speaks for itself. As an expert, Dunstall now adds his analysis on game day and provides plenty of laughs alongside other larrikins on Bounce.",
  },
  {
    avatar: Underwood.src,
    name: "Kelli Underwood",
    role: "Fox Footy Commentator",
    description:
      "A trailblazer in the commentary box, Kelli Underwood was the first female to call an AFL match on television and has since gone on to carve a respected career at Fox Footy and other media outlets.",
  },
  {
    avatar: Lyon.src,
    name: "Garry Lyon",
    role: "Fox Footy Expert",
    description:
      "Melbourne Demons great Garry Lyon is a staple on Fox Footy, offering insightful commentary on match day while also tackling the games biggest issues On The Couch. Lyon’s broadcasting career now spans more than three decades.",
  },
  {
    avatar: Buckley.src,
    name: "Nathan Buckley",
    role: "Fox Footy Expert",
    description:
      "A natural-born leader, Nathan Buckley’s deep understanding of Australian Rules Football has allowed him to transition seamlessly from player, to coach, to expert analyst while commanding respect and attention every step of the way.",
  },
  {
    avatar: Eddie.src,
    name: "Eddie Betts",
    role: "Fox Footy Expert",
    description:
      "Universally loved across the competition, Eddie Betts now lights up the coverage for Fox Footy after retiring in 2021. Cheeky, insightful and someone who wears his heart on his sleeve, Betts has cemented himself as a fan favourite.",
  },
  {
    avatar: Brown.src,
    name: "Jonathan Brown",
    role: "Fox Footy Expert",
    description:
      "It’s hard to find a more versatile on-air personality than three-time Premiership player, Jonathan Brown who commands respect when behind the mic. A jack of all trades, Brown can offer serious expertise while also finding humour in the nuances of the game.",
  },
];
---

<section>
  <div class="content">
    <div class="container">
      <div class="title">
        <h6 class="display-1">Some of your future colleagues</h6>
      </div>

      <div class="swiper">
        <div class="swiper-wrapper">
          {
            collegues.map((collegue: CardProps) => {
              return (
                <div class="swiper-slide" style={{ width: "auto" }}>
                  <FlipCard client:load {...collegue} />
                </div>
              );
            })
          }
        </div>

        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</section>

<script>
  import Swiper from "swiper";
  import { Virtual, Navigation, Pagination, Scrollbar } from "swiper/modules";
  import "swiper/css";
  import "swiper/css/navigation";
  import "swiper/css/pagination";

  // Initialize Swiper after the DOM is loaded
  function initSwiper() {
    const swiper = new Swiper(".swiper", {
      modules: [Virtual, Navigation, Pagination, Scrollbar],
      slidesPerView: 1,
      spaceBetween: 0,
      scrollbar: {
        el: ".swiper-scrollbar",
        hide: true,
        draggable: true,
        dragSize: 20,
        snapOnRelease: true,
        enabled: true,
      },
      speed: 250,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
      // Remove virtual slides since we're rendering them directly
      observer: true,
      observeParents: true,
      breakpoints: {
        768: {
          slidesPerView: "auto",
        },
      },
    });
  }

  // Wait for the DOM to be fully loaded
  if (document.readyState === "loading") {
    document.addEventListener("DOMContentLoaded", initSwiper);
  } else {
    initSwiper();
  }
</script>

<script>
  const slides: NodeListOf<HTMLDivElement> =
    document.querySelectorAll(".swiper-slide");
  // on mouseover of the collection of slides add zindex
  slides.forEach((slide) => {
    slide.addEventListener("mouseover", function () {
      slide.style.zIndex = "100";
    });
    slide.addEventListener("mouseout", function () {
      slide.style.zIndex = "0";
    });
  });
</script>
<style lang="scss">
  @import "../../breakpoints.scss";

  .title {
    padding: 0 42px 32px;
  }
  /* Add these global styles for Swiper */
  :global(.swiper) {
    width: 100%;
    overflow: hidden;
    padding: 0 20px;
    margin-top: 0;
  }

  :global(.swiper-wrapper) {
    display: flex;
    width: max-content;
  }

  :global(.swiper-slide) {
    padding: 40px 0;
    width: 100vw !important; /* Larger width for desktop if needed */
    // width: 280px !important; /* Or whatever width your Card component should be */
    flex-shrink: 0;
  }

  :global(.swiper-scrollbar) {
    bottom: 0 !important;
  }

  :global(
      .swiper-horizontal > .swiper-scrollbar,
      .swiper-scrollbar.swiper-scrollbar-horizontal
    ) {
    background-color: var(--black);
    opacity: 1 !important;
    height: 21px;
    box-sizing: border-box;
    border-top: 10px solid var(--kayogreen);
    border-bottom: 10px solid var(--kayogreen);
    padding-left: 0;
    width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
  }

  :global(.swiper-scrollbar-drag) {
    background: var(--darkgrey);
    top: -5px;
    height: 10px;
    border-radius: 0;
    &:after,
    &:before {
      content: "";
      width: 30px;
      height: 100%;
      right: -20px;
      position: absolute;
      top: 0;
      background-color: var(--black);
      transform: skew(-40deg) !important;
    }

    &::before {
      left: -20px;
    }
  }
  section {
    background-color: var(--kayogreen);
  }

  .content {
    overflow: hidden;
    max-width: 1440px;
    padding: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding-top: 64px;
  }
  @media screen and (min-width: $breakpoint-tablet) {
    :global(.swiper-slide) {
      width: 450px !important; /* Larger width for desktop if needed */
    }
  }

  @media screen and (min-width: $breakpoint-desktop) {
    .title {
      padding: 0 42px 45px;
    }
    .container {
      align-items: flex-start;
      padding-top: 118px;
    }
    // :global(.swiper-slide) {
    //   width: 360px !important; /* Larger width for desktop if needed */
    //   &:last-child {
    //     margin-right: 0 !important;
    //   }
    // }

    :global(
        .swiper-horizontal > .swiper-scrollbar,
        .swiper-scrollbar.swiper-scrollbar-horizontal
      ) {
      padding-left: 20px;
      width: calc(100% - 2 * var(--swiper-scrollbar-sides-offset, 1%));
    }
  }
</style>
