@import "../../breakpoints.scss";
.slides {
  width: 100%;
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: scroll;
  gap: 20px;
  margin-left: 0;
  padding-left: 50px;
}

.slides::-webkit-scrollbar {
  display: none;
}
.slide {
  list-style: none;
  &:last-of-type {
    padding-right: 100px;
  }
}

.progress {
  height: 10px;
  width: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
  margin-top: 15px;
  &:before {
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--kayogreen);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  &:after {
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--kayogreen);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
  }
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  margin-bottom: 50px;
  padding-left: 40px;
}

.card {
  height: 248px;
  width: 264px;
  position: relative;
  transform-origin: left;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: visible;
}
.cardInner {
  width: 100%;
  height: 100%;
  position: relative;
  width: 264px;
  display: block;
  transform: var(--skewDeg);
  overflow: hidden;
  background-color: var(--darkgrey);
}

.cardFront {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.avatar {
  transform: skew(10deg);
  width: 100%;
  height: 100%;
  position: relative;
}

.cardBack {
  transform: rotate("180deg") skew(10deg);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.fauxBar {
  position: absolute;
  height: 1px;
  background-color: var(--black);
  width: 90%;
  margin: auto;
  left: 0;
  right: 0;
  top: 5px;
}

.cardNameTitle {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media screen and (min-width: $breakpoint-desktop) {
  .card {
    height: 356px;
    width: 480px;
  }

  .avatar {
    height: 450px;
    width: 450px;
  }

  .slides {
    margin: auto;
  }

  .progress {
    max-width: 1000px;
    margin-top: 30px;
  }
  .cardFront {
    width: 480px;
    height: 400px;
  }
  .cardInner {
    width: 400px;
  }
}

@media screen and (min-width: $breakpoint-widescreen) {
  .progress {
    max-width: 1440px;
  }
}

.c {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  width: 350px;
  height: 200px;
  cursor: pointer;
  will-change: transform, opacity;
}

.sliderWrapper {
  width: 100vw;
}
