<section id="what-you-win">
  <div class="content">
    <div class="col intro">
      <h3 class="display-1">2025 is set to be our biggest year yet.</h3>
    </div>
    <div class="col">
      <p>
        Fox Footy on Kayo Sports and Foxtel is the ONLY place to watch LIVE
        footy across the country on Saturdays for the first 8 rounds. Enjoy
        every match in 4K, ad-break free during play, with exclusive commentary
        and cutting-edge graphics.
      </p>

      <p>
        To celebrate, Kayo Sports is offering one lucky fan or aspiring
        broadcaster the chance to join the action with a <strong
          style={{ color: "white" }}>paid on-air role</strong
        > during Fox Footy’s <a href="#super-saturday-live"
          >Super Saturday LIVE</a
        > overage in 2025. Whether you dream of being an AFL commentator, statistician,
        host, or boundary rider, this is your opportunity to make it happen!
      </p>

      <p>
        Entries are open from 7.00pm Wednesday 20 November to 11.59pm Wednesday
        11 December 2024. A winner will be selected and announced during the
        week commencing 17 February 2025.
      </p>
    </div>

    <h4 class="display-2 stretch">
      YOU WIN: <span class="color--kayogreen">A</span> paid, on-air role <span
        >for at least the first 8 rounds of the season, plus</span
      > mentoring <span class="color--kayogreen"
        >from the biggest names at Fox Footy.</span
      >
    </h4>
  </div>
</section>

<style lang="scss">
  @import "../../breakpoints.scss";
  .content,
  .col {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  section {
    background-color: var(--darkgrey);
    color: var(--white);
    padding: 64px 16px;
  }
  .display-2 {
    span {
      color: var(--kayogreen);
    }
  }

  .stretch {
    margin-top: 56px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    .content {
      display: grid;
      grid-template-columns: 50% 50%;
    }

    .stretch {
      grid-column: span 2;
      margin-top: 87px;
    }
    .intro {
      padding-right: 100px;
    }
  }
</style>
