@import "../../breakpoints.scss";
.section {
  background-color: var(--kayogreen);
  padding-top: 68px;
}

.questionsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 32px;
  margin-bottom: 32px;
  align-items: center;
}

.toggle {
  text-indent: -99999px;
  background-size: 16px;
  width: 16px;
  height: 16px;
  background: url("../../assets/plus.svg");
  background-size: 16px;
  background-repeat: no-repeat;
}
.question {
  transform: var(--skewDeg);
  position: relative;
  height: 64px;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  padding: 0 20px;
  width: 100%;
  border: none;
  transition: all 0.15s ease-in-out;
  &:hover {
    background-color: var(--black);
    color: var(--white);
    transition: all 0.15s ease-in-out;
    .toggle {
      background: url("../../assets/plus-white.svg");
    }
  }
}

.content {
  position: relative;
  transform: skewX(10deg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 100%;
  text-align: left;
}
.label {
  font-family: "GibsonSemiBold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}

.seeMore {
  text-align: center;
}

.modalContent {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
}

.modalTitle {
  font-family: "GibsonBold", sans-serif;
  color: var(--black);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
}

.modalParagraph {
  font-size: 18px;
  line-height: 143%;
}

@media screen and (min-width: $breakpoint-desktop) {
  .section {
    padding-top: 122px;
  }
  .questionsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 18px;
  }
  .question {
    height: 80px;
    width: auto;
    max-width: calc(50% - 18px);
    min-width: calc(50% - 18px);
  }

  .seeMore {
    display: none;
  }
  .label {
    font-size: 18px;
  }
}
