---
const { link, label, isLarge, isSecondary, isDark } = Astro.props;
import styles from "./styles.module.scss";
---

<a
  href={link}
  class={`${styles.btn} ${isSecondary ? styles.secondaryBtn : styles.primaryBtn} ${isLarge ? styles.largeBtn : ""} ${isDark ? styles.darkBtn : styles.whiteBtn}`}
  ><span>{label}</span></a
>
