@import "../../breakpoints.scss";
.btn {
  font-family: "KayoGravity", sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background-color: transparent;
  color: var(--darkgrey);
  height: 40px;
  position: relative;
  border: none;
  display: inline-flex;
  align-items: center;
  width: auto;
  text-decoration: none;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white);
    z-index: 0;
    transform: var(--skewDeg);
    transition: var(--buttonTrans);
  }

  &:hover {
    transition: var(--buttonTrans);
    &:before {
      transition: var(--buttonTrans);
      box-shadow: var(--boxshadow);
    }
  }

  &:disabled {
    opacity: 0.4;
    &:hover {
      &::before {
        box-shadow: none;
      }
    }
  }

  span {
    z-index: 1;
    padding: 0 27px 0 24px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .largeBtn {
    font-size: 15px;
    height: 56px;
  }
}

.primaryBtn {
  position: relative;
  color: var(--darkgrey);
  &:before {
    background-color: var(--white);
  }
}
.secondaryBtn {
  font-family: "Gibson", sans-serif;
  color: var(--white);
  &:before {
    background-color: var(--darkgrey);
  }
}

.darkBtn {
  &:before {
    background-color: var(--black);
  }
  span {
    color: var(--white);
  }
}

.greenBtn {
  &:before {
    background-color: var(--kayogreen);
  }
  span {
    color: var(--black);
  }
}

.whiteBtn {
  &:before {
    background-color: var(--white);
  }
  span {
    color: var(--black);
  }
}
