---
import Animation from "./animation";
---

<section id="hero">
  <Animation client:load />
</section>

<style lang="scss">
  @import "../../breakpoints.scss";
  section {
    background-color: var(--darkgrey);
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 68px;
    padding: 101px 0 107px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100%;
    height: 100vh;
    position: relative;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    section {
      padding-top: 0;
      margin-top: -60px;
    }
  }
</style>
