---
import Layout from "../layouts/layout.astro";
import Accordion from "../components/accordion/index.astro";
import VideoPlayer from "../components/videoPlayer/index.astro";
import Steps from "../components/steps/index.astro";
import FutureCollegues from "../components/futureColleagues/index.astro";

import Hero from "../components/hero/index.astro";
import HowToWin from "../components/howToWin/index.astro";
import HowToEnter from "../components/howToEnter/index.astro";
import HaveAQuestion from "../components/haveAQuestion";
import WillYouGetTheCallUp from "../components/willYouGetTheCallUp/index.astro";
import Footer from "../components/footer/index.astro";
import Header from "../components/header/index.astro";
import Button from "../components/button/index.astro";
import Nav from "../components/nav/nav.astro";
const questions = [
  {
    question: "Who can enter the competition?",
    answer: "You can apply by filling out the form on the website.",
  },
  {
    question: "What do I need to submit?",
    answer: "The deadline is 31st of December.",
  },
  {
    question: "Which social media platforms can I use?",
    answer: "The prize is a 6 month internship at Kayo.",
  },
  {
    question: "What’s the deadline for entries?",
    answer: "The prize is a 6 month internship at Kayo.",
  },
  {
    question: "When is the shortlisting phase of the talent search?",
    answer: "The prize is a 6 month internship at Kayo.",
  },
  {
    question: "What is the prize?",
    answer: "The prize is a 6 month internship at Kayo.",
  },
  {
    question: "How much will I get paid?",
    answer: "The prize is a 6 month internship at Kayo.",
  },
  {
    question: "What are the judges looking for?",
    answer: "The prize is a 6 month internship at Kayo.",
  },
  {
    question: "When will the winner be announced?",
    answer: "The prize is a 6 month internship at Kayo.",
  },
  {
    question: "Can I submit multiple entries?",
    answer: "The prize is a 6 month internship at Kayo.",
  },
  {
    question: "I don’t have professional equipment—can I still enter?",
    answer: "The prize is a 6 month internship at Kayo.",
  },
];
---

<Layout title="Kayo">
  <Header />
  <div class="cta-container">
    <Button label="Submit your entry" isLarge link="/submit" />
  </div>
  <Hero />
  <HowToWin />
  <HowToEnter />
  <Steps />
  <FutureCollegues />
  <HaveAQuestion questions={questions} client:load />
  <WillYouGetTheCallUp />
  <Nav />

  <Footer />
</Layout>

<style>
  img {
    width: 90%;
  }
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
    max-width: 1048px;
    margin: auto;
  }
</style>
