---
import Layout from "../layouts/layout.astro";
import Steps from "../components/steps/index.astro";
import FutureCollegues from "../components/futureColleagues/index.astro";

import Hero from "../components/hero/index.astro";
import HowToWin from "../components/howToWin/index.astro";
import HowToEnter from "../components/howToEnter/index.astro";
import HaveAQuestion from "../components/faq/haveAQuestion";
import SuperSaturday from "../components/faq/superSaturday";
import Footer from "../components/footer/index.astro";
import Header from "../components/header/index.astro";
import Button from "../components/button/index.astro";
import Nav from "../components/nav/nav.astro";
---

<script>
  // if screen size if below 1024px, add a class to the body

  function updateButtonText() {
    const submitBtn = document.getElementById("header-submit");

    if (!submitBtn) return;
    if (window.innerWidth < 1024 && submitBtn) {
      submitBtn.textContent = "Submit entry";
    } else {
      submitBtn.textContent = "Submit your entry";
    }
  }

  updateButtonText();

  window.addEventListener("resize", updateButtonText);
</script>

<script>
  import { analyticsUtils } from "../firebase/client";
  // Log page view on initial load
  document.addEventListener("DOMContentLoaded", () => {
    analyticsUtils.logPageView(window.location.pathname, document.title);
  });

  // Log page view on client-side navigation (if using View Transitions or client routing)
  document.addEventListener("astro:page-load", () => {
    analyticsUtils.logPageView(window.location.pathname, document.title);
  });
</script>
<Layout title="Kayo Sports Call Up - Home">
  <Header />
  <div class="cta-container">
    <Button
      id="header-submit"
      label="Submit your entry"
      isLarge
      link="/submit"
    />
  </div>
  <Nav />
  <Hero />
  <HowToWin />
  <HowToEnter />
  <Steps />
  <FutureCollegues />
  <HaveAQuestion client:load />
  <SuperSaturday client:load />
  <Footer isLandingPage />
</Layout>

<style lang="scss">
  @import "../breakpoints.scss";
  @keyframes animateCta {
    0% {
      opacity: 0;
      transform: translateX(-100px) translateY(-96px);
    }
    100% {
      opacity: 1;
      transform: translateX(0%) translateY(-96px);
    }
  }
  img {
    width: 90%;
  }
  .hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
    max-width: 1048px;
    margin: auto;
  }

  .cta-container {
    opacity: 0;
    transform: translateX(-100px) translateY(-96px); // Move it up to overlap with header
    position: fixed;
    display: flex;
    justify-content: flex-end;
    top: 120px;
    display: flex;
    right: 20px;
    margin-left: auto;
    z-index: 19;
    width: 300px;
    will-change: transform;
    animation: animateCta 1s forwards linear;
    animation-delay: 4.5s;
    animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }

  @media screen and (min-width: $breakpoint-desktop) {
    .cta-container {
      position: sticky;
    }
  }
</style>
