<header>
  <ul>
    <li>Logo</li>
    <li>How it works</li>
    <li>Have a question?</li>
    <li>Share with a mate</li>
    <li>Super Saturday live</li>
    <li>Submit your entry</li>
  </ul>
</header>
