---
import FoxLogo from "../../assets/fox-logo.png";
---

<header>
  <a href="https://www.foxsports.com.au/afl">
    <img src={FoxLogo.src} class="foxLogo" alt="Fox Footy" />
  </a>
</header>

<style lang="scss">
  @import "../../breakpoints.scss";

  @keyframes animateHeader {
    0% {
      opacity: 0;
      transform: translateY(30%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  header {
    opacity: 0;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    // width: 100%;
    gap: 20px;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    padding: 24px 16px 0;
    // max-width: 1440px;
    // margin: auto;
    top: 0;
    left: 0;
    right: 0;
    width: 200px;
    z-index: 22;
    height: auto;
    will-change: transform;
    animation: animateHeader 1s forwards linear;
    animation-delay: 3.5s;
    animation-timing-function: cubic-bezier(0.46, 0.03, 0.52, 0.96);
  }

  .kayo-logo {
    width: 69px;
    height: 36px;
  }
  .foxLogo {
    width: 67px;
    height: 45px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    header {
      padding: 40px 0 0 40px;
    }
    .foxLogo {
      width: 90px;
      height: 56px;
    }
  }

  ul {
    align-items: center;
    display: flex;
    gap: 1rem;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
    margin-left: 0;
  }
  img {
    height: 2rem;
  }
</style>
