@import "../../breakpoints.scss";
.legal {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  .smallPrint {
    text-transform: uppercase;
  }
}

@media screen and (min-width: $breakpoint-desktop) {
  .legal {
    flex-direction: row;
    width: 100%;
    min-width: 300px;
    justify-content: flex-end;
    gap: 20px;
    margin-bottom: 0;
  }
}
