---
import "react-multi-carousel/lib/styles.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style lang="scss" is:global>
  // Import Swiper styles
  @import "swiper/css";
  @import "swiper/css/scrollbar";
  @import "swiper/css/pagination";
  @import "swiper/css/free-mode";
  @import "../fonts.css";
  @import "../breakpoints.scss";

  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Gibson", sans-serif;
    background-color: var(--black);
    margin: 0;
  }

  main {
    position: relative;
  }

  section {
    // margin-bottom: 68px;
    width: 100%;
    box-sizing: border-box;
  }

  button {
    cursor: pointer;
  }

  .hidden {
    opacity: 0;
  }

  .visible {
    opacity: 1;
  }

  .content {
    max-width: 1440px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
  :root {
    --black: #000000;
    --darkgrey: #171717;
    --white: #ffffff;
    --kayogreen: #40f87f;
    --skewDeg: skewX(-10deg);
  }

  .display-1 {
    font-size: 18px;
    line-height: 111%;
    font-weight: normal;
    font-family: "KayoGravity", sans-serif;
    text-transform: uppercase;
  }
  .display-2 {
    font-size: 76px;
    line-height: 87%;
    font-weight: normal;
    font-family: "KnockoutFullFeatherweight", sans-serif;
    text-transform: uppercase;
  }
  .display-3 {
    font-size: 32px;
    line-height: 111%;
    font-weight: normal;
    font-family: "KnockoutFeatherweight", sans-serif;
    text-transform: uppercase;
  }

  .display-4 {
    font-size: 56px;
    line-height: 79%;
    font-weight: normal;
    font-family: "KnockoutFullFeatherweight", sans-serif;
    text-transform: uppercase;
  }
  .display-5 {
    font-size: 32px;
    line-height: 79%;
    font-weight: normal;
    font-family: "KnockoutFullFeatherweight", sans-serif;
    text-transform: uppercase;
  }

  .highlight {
    font-family: "GibsonBold", sans-serif;
    color: var(--kayogreen);
    font-weight: bold;
  }

  .color-kayogreen {
    color: var(--kayogreen);
  }

  .color-white {
    color: var(--white);
  }

  .color-black05 {
    color: rgba(0, 0, 0, 0.5);
  }
  .color-black {
    color: rgba(0, 0, 0, 1);
  }
  .color-warning {
    color: rgb(188, 51, 51);
  }

  .small-print {
    font-family: "GibsonSemiBold", sans-serif;
    font-size: 11px;
    font-weight: bold;
  }
  .text-center {
    text-align: center;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }

  p {
    font-size: 15px;
    line-height: 143%;
    strong {
      font-family: "GibsonBold", sans-serif;
      font-weight: bold;
    }
    a {
      font-family: "GibsonBoldItalic", sans-serif;
      color: var(--kayogreen);
      font-weight: bold;
      font-size: italic;
      text-decoration: none;
    }
  }

  @media screen and (min-width: $breakpoint-desktop) {
    .display-1 {
      font-size: 32px;
    }
    .display-2 {
      font-size: 150px;
    }
    p {
      font-size: 18px;
    }

    .btn {
      height: 72px;
      padding: 0 50px;
    }
    .display-5 {
      font-size: 36px;
    }
  }

  .react-responsive-modal-modal {
    box-shadow: 7px 8px 0px 0 rgba(0, 0, 0, 0.25) !important;
  }
</style>
