---
import { Accordion } from "webcoreui/astro";
---

<div>
  <Accordion
    items={[
      {
        title: "What is Webcore?",
        content:
          "Webcore is an open-source, customizable UI component library for Astro, Svelte, and React.",
      },
      {
        title: "How can I start using Webcore?",
        content:
          "Run <code>npm i webcoreui</code> in your terminal to install the package.",
      },
      {
        title: "Is there anything else I need to know?",
        content: "Yes! There's plenty of information in the documentation.",
      },
    ]}
  />
</div>
