---
import Form from "../../components/form/";
import Layout from "../../layouts/layout.astro";
import Footer from "../../components/footer/index.astro";
---

<Layout title="Kayo Sports Call Up - Submit Your Entry">
  <Form client:load />

  <div id="lottie-container"></div>
  <Footer isLandingPage={false} />
</Layout>

<script>
  import lottie from "lottie-web";
  import animationData from "../../assets/lotti/confetti.json";

  document.addEventListener("statusChange", (event) => {
    const status = (event as CustomEvent).detail.status;

    const lottieContainer: HTMLElement | null =
      document.getElementById("lottie-container");
    // Update the page based on status
    if (status === "success" && lottieContainer !== null) {
      // Initialize lottie animation
      lottie.loadAnimation({
        container: lottieContainer,
        renderer: "svg",
        loop: false,
        autoplay: true,
        animationData: animationData,
      });
    } else {
      console.log("no success");
    }
  });
</script>

<script>
  import { analyticsUtils } from "../../firebase/client";
  // Log page view on initial load
  document.addEventListener("DOMContentLoaded", () => {
    analyticsUtils.logPageView(window.location.pathname, document.title);
  });

  // Log page view on client-side navigation (if using View Transitions or client routing)
  document.addEventListener("astro:page-load", () => {
    analyticsUtils.logPageView(window.location.pathname, document.title);
  });
</script>
<style>
  header {
    box-sizing: border-box;
    padding: 40px 0 40px 40px;
    max-width: 1440px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
  }

  #lottie-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    pointer-events: none;
  }
</style>
