---
import Form from "../../components/form/";
import Layout from "../../layouts/layout.astro";
import HeroImg from "../../assets/hero.svg";
import Button from "../../components/button/index.astro";
import Bg from "../../assets/footballs.png";
---

<Layout title="Kayo - Submit">
  <header>
    <Button label="Back" isDark link="/" />
  </header>
  <section>
    <div class="wrapper">
      <img class="hero" src={HeroImg.src} alt="Kato Sports Call Up" />
      <h2 class="display-1">Submit your entry</h2>
      <Form client:load />
    </div>
    <div class="bg" style={{ backgroundImage: `url(${Bg.src})` }}></div>
  </section>
</Layout>

<style>
  header {
    box-sizing: border-box;
    padding: 40px;
    max-width: 1440px;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: auto;
  }
  .hero {
    max-width: 306px;
  }

  .wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px;
  }
  section {
    background-color: var(--kayogreen);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bg {
    position: fixed;
    z-index: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-size: 1600px;
    mix-blend-mode: darken;
    background-position: center top;
  }
  @media screen and (min-width: 768px) {
    section {
      padding: 64px;
    }
  }
</style>
